div.widget {
  position: relative;
  width: 365px;
  margin: 60px auto;
  background-color: #fcfdfdb5;
  border-radius: 9px;
  padding: 20px;
  padding-right: 30px;
  box-shadow: 0px 31px 35px -26px #080c21;
}

div.date {
  font-size: 17px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
}

.other {
  color: #878787 !important;
}

div.city {
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 7px;
  color: rgba(0, 0, 0, 0.7);
}

.icon-description {
  font-size: 17px;
  font-weight: bold;
  text-transform: capitalize;
  padding-top: 7px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}

div.temp {
  font-size: 30px;
  color: rgba(0, 0, 0, 0.9);
  font-weight: 100;
  padding-bottom: 15px;
  margin: 15px 0px 0px 3px;
}

div.panel {
  display: inline-block;
}

div.right-panel {
  position: absolute;
  float: right;
  top: 0;
  padding-top: 2vh;
}

.grid-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.grid-item {
  width: 210px;
  margin: 10px;
  background-color: black;
  overflow: hidden;
  border-radius: 9px;
  border: 2px solid;
  box-shadow: -20px 31px 35px -26px #080c21;
}
.night {
  background-color: silver;
}
.card {
  position: relative;
  width: 100%;
  padding: 2.5em 1em;
  display: block;
}
.status {
  color: #808080;
  text-align: center;
}
