/* Main Grid Css */
div.widget {
  position: relative;
  width: fit-content;
  margin: 60px auto;
  background-color: #b3b3b3bf;
  border-radius: 9px;
  padding: 10px 0px 10px 25px;
  padding-right: 30px;
  box-shadow: 0px 31px 35px -26px #080c21;
  z-index: 3;
}
div.date {
  font-size: 17px;
  font-weight: bold;
  color: rgba(0, 0, 0);
}
.other {
  color: #2d2b2b !important;
}
div.city {
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 7px;
  color: rgba(0, 0, 0, 0.49);
}
.icon-description {
  font-size: 17px;
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
  color: rgba(0, 0, 0, 0.77);
}
div.temp {
  font-size: 30px;
  color: rgba(0, 0, 0, 0.9);
  font-weight: 100;
  padding-bottom: 15px;
  margin: 15px 0px 0px 3px;
}
div.panel {
  display: inline-block;
}
div.right-panel {
  float: right;
}
/* Forecast Grid Css */
.grid-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  z-index: 3;
}
.grid-item {
  width: 34vh;
  margin: 0px 5px 5px 19px;
  background-color: #b3b3b3bf;
  overflow: hidden;
  border-radius: 9px;
  box-shadow: -20px 31px 35px -26px #080c21;
  z-index: 3;
}
.card {
  padding: 2.5em 1em;
  text-align: center;
}
/* Default Day/Night Css */
.nightSky {
  position: fixed;
  width: 100%;
  background: linear-gradient(to bottom, #00000c 80%, #22364a 100%);
  height: 100vh;
}
.daySky {
  position: fixed;
  width: 100%;
  background: linear-gradient(to bottom, #0e7eab 0%, #c3cacc 100%);
  height: 100vh;
}
/* background & foreground css for images */
.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 1;
}
.foreground {
  width: 35vh;
  position: absolute;
  right: 30px;
  border-radius: 50%;
  z-index: 0;
}
/* Weather based Day/Night background color */
.Thunderstormd {
  background: linear-gradient(to bottom, #000000 0%, #2591e2 100%);
}
.Thunderstormn {
  background: linear-gradient(to bottom, black, black);
}
.Raind {
  background: linear-gradient(to bottom, #000000 0%, #0d5c98 100%);
}
.Rainn {
  background: linear-gradient(to bottom, #000000 0%, #345a77 100%);
}
.Drizzled {
  background: linear-gradient(to bottom, #000000 0%, #0d5c98 100%);
}
.Drizzlen {
  background: linear-gradient(to bottom, #000000 0%, #345a77 100%);
}
.Cloudsn {
  background: linear-gradient(to bottom, #000000 0%, #09263c 100%);
}
.Cloudsd {
  background: linear-gradient(to bottom, #060c0e 0%, #246fa8 100%);
}
.Fogn {
  background: linear-gradient(to bottom, #000000 80%, #d9e2e6 100%);
}
.Fogd {
  background: linear-gradient(to bottom, #0e394a 0%, #ffffff 100%);
}
.Mistn {
  background: linear-gradient(to bottom, #000000 80%, #d9e2e6 100%);
}
.Mistd {
  background: linear-gradient(to bottom, #0e394a 0%, #ffffff 100%);
}
.Snown {
  background: linear-gradient(to bottom, #7f8082 0%, #000000 100%);
}
.Snowd {
  background: linear-gradient(to bottom, #0e394a 0%, #ffffff 100%);
}
/* Error CSS */
.error {
  left: 60vh;
  position: absolute;
  top: 25vh;
  width: 40em;
  border: 3px solid #ff0000;
  padding: 10px;
  text-align: center;
}
